@media (max-width: 430px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 414px) {
    html {
        font-size: 56%;
    }
}

@media (max-width: 390px) {
    html {
        font-size: 53%;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 44%;
    }
}